/* General Styling */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	height: 100%;
}
body{
	position: relative;
	background: $base-background;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	color: $base-white;
	overflow: hidden;
}

/*  */
.logo, .glimpse{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}.glimpse{
	background: $darker-background;
}
.logo{
	background: $base-background;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#logo-top{
	font-family: Anton, sans-serif;
	font-size: 30vmin;
	
}
#logo-bottom{
	font-family: Questrial, sans-serif;
	font-size: 4vmin;
	color: $darker-white;
}
