/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  position: relative;
  background: $base-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $base-white;
  //overflow: hidden;
}
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
ul {
  list-style: none;
}
.hide {
  display: none;
}
.not-visible {
  visibility: hidden;
}
.active {
  color: $base-yellow;
}

/* custom cursor */

#cursor {
  position: absolute;
  display: none;
  z-index: 10;
  width: 15px;
  height: 15px;
  pointer-events: none;
  transform: translate(-50%, -50%);

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    background: $base-white;
    width: 10px;
    height: 4px;
    transition: all 0.2s ease-in;
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background: inherit;
      top: 0;
    }
    &:before {
      left: -2px;
    }
    &:after {
      right: -2px;
    }
  }
  div.vertical {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  div.horizontal {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &.interact {
    div {
      width: 0px;
      background: $base-yellow;
      transform: translate(-50%, -50%) rotate(0);
    }
  }
}

/* glimpse  background animation */

.glimpse {
  z-index: 5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: $darker-background;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.glimpse .column-wrap {
  position: absolute;
  width: 140%;
  height: 220%;
  display: flex;
  transform: rotateZ(25deg);
  background: $darker-background;

  @media (orientation: portrait) {
    & {
      width: 200%;
      height: 140%;
    }
  }
  .column {
    width: 12.5%;
    height: 100%;
    overflow: hidden;
    background: $darker-background;

    &:nth-child(odd) {
      background: transparent;
      width: 0;
    }
  }
}

/* Header style */
header {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  position: fixed;
  justify-content: space-between;
  z-index: 2;
  top: 0;
  left: 0;
  font-size: 4em;
}
header #logo-nav {
  font-family: "Rubik Mono One", sans-serif;
  letter-spacing: -0.15em;
  color: $base-white;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.1);
    color: $base-yellow;
    text-shadow: 0 0 2px rgba(241, 189, 0, 0.9), 0 0 20px rgba(241, 189, 0, 0.7);
  }
}
header #menu-main {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: solid 0.025em $base-yellow;
  position: relative;
  z-index: 2;
  cursor: pointer;
  perspective: 40px;
  transform-style: preserve-3d;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);
    border-color: $base-white;
  }
}
#menu-main .bar {
  width: 50%;
  height: 5%;
  background: $base-white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0.1em;
  transform: translate(-50%, -50%);

  &:first-child {
    top: 67%;
  }
  &:last-child {
    top: 33%;
  }
}

/* Fullscreen Menu */

.menu-container {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 1;
}
.menu-bg {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  top: -50%;
  right: -50%;
  background: $darker-background;
  z-index: -1;
}
.menu-container ul {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  li {
    margin-bottom: 1.2rem;
    display: none;
    opacity: 0;
  }
}

/* Footer Styles */
footer {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 4em;
  font-family: "Questrial", sans-serif;
}
small {
  text-transform: uppercase;
  font-size: 1rem;
}

/* Footer menu styles */

footer #menu-media {
	box-sizing: border-box;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: dashed 0.025em $darker-white;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);
	}
}
footer #menu-media .bar {
  position: absolute;
  width: 5%;
  height: 5%;
  background: $base-yellow;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
	
	&:first-of-type{
		left: 40%;	
	}
	&:last-of-type{
		left: 60%;	
	}
}
svg#media-circle{
	position: absolute;
	width: 105%;
	height: 105%;
	top: -2.5%;
	left: -2.5%;
}
#media-circle circle{
	fill: transparent;
	stroke: $darker-white;
	stroke-width: 2px;
	stroke-dasharray: 247;
	stroke-dashoffset: 247;
	
}


