@font-face {
  font-family: Anton;
  src: url(../font/Anton-Regular.eot);
  src: url(../font/Anton-Regular.eot) format("embedded-opentype"),url(../font/Anton-Regular.woff2) format("woff2"),url(../font/Anton-Regular.woff) format("woff"),url(../font/Anton-Regular.ttf) format("truetype"),url(../font/Anton-Regular.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Questrial;
  src: url(../font/Questrial-Regular.eot);
  src: url(../font/Questrial-Regular.eot) format("embedded-opentype"),url(../font/Questrial-Regular.woff2) format("woff2"),url(../font/Questrial-Regular.woff) format("woff"),url(../font/Questrial-Regular.ttf) format("truetype"),url(../font/Questrial-Regular.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial,Helvetica,sans-serif;
  color: #f1f1f1;
  overflow: hidden;
}

.glimpse,
.logo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.glimpse {
  background: #2a2a2a;
}

.logo {
  background: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#logo-top {
  font-family: Anton,sans-serif;
  font-size: 30vmin;
}

#logo-bottom {
  font-family: Questrial,sans-serif;
  font-size: 4vmin;
  color: #bababa;
}


/*# sourceMappingURL=main.css.map */
