@font-face {
	font-family: 'Rubik Mono One';
	src: url('../../font/RubikMonoOne-Regular.eot');
	src: url('../../font/RubikMonoOne-Regular.eot?#iefix') format('embedded-opentype'),
			url('../../font/RubikMonoOne-Regular.woff2') format('woff2'),
			url('../../font/RubikMonoOne-Regular.woff') format('woff'),
			url('../../font/RubikMonoOne-Regular.ttf') format('truetype'),
			url('../../font/RubikMonoOne-Regular.svg#RubikMonoOne-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Questrial';
	src: url('../../font/Questrial-Regular.eot');
	src: url('../../font/Questrial-Regular.eot?#iefix') format('embedded-opentype'),
			url('../../font/Questrial-Regular.woff2') format('woff2'),
			url('../../font/Questrial-Regular.woff') format('woff'),
			url('../../font/Questrial-Regular.ttf') format('truetype'),
			url('../../font/Questrial-Regular.svg#Questrial-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../../font/OpenSans-Light.eot');
	src: url('../../font/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
			url('../../font/OpenSans-Light.woff2') format('woff2'),
			url('../../font/OpenSans-Light.woff') format('woff'),
			url('../../font/OpenSans-Light.ttf') format('truetype'),
			url('../../font/OpenSans-Light.svg#OpenSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../../font/OpenSans-Regular.eot');
	src: url('../../font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
			url('../../font/OpenSans-Regular.woff2') format('woff2'),
			url('../../font/OpenSans-Regular.woff') format('woff'),
			url('../../font/OpenSans-Regular.ttf') format('truetype'),
			url('../../font/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Archivo';
	src: url('../../font/ArchivoBlack-Regular.eot');
	src: url('../../font/ArchivoBlack-Regular.eot?#iefix') format('embedded-opentype'),
			url('../../font/ArchivoBlack-Regular.woff2') format('woff2'),
			url('../../font/ArchivoBlack-Regular.woff') format('woff'),
			url('../../font/ArchivoBlack-Regular.ttf') format('truetype'),
			url('../../font/ArchivoBlack-Regular.svg#ArchivoBlack-Regular') format('svg');
	font-weight: 900;
	font-style: normal;
}



