$base-background: #323232;
$darker-background: #2a2a2a;
$lighter-background: #363636;
$base-white: #f5f5f5;
$darker-white: #868686;
$base-yellow: #f1bd00;


@keyframes fill {
  0% {
    transform: translateY(75%);
	}
  100% {
    transform: translateY(5%);
  }
}
@keyframes waves {
  25% {
    transform: translateX(-70%);
	}
	50% {
    transform: translateX(-30%);
	}
	75% {
    transform: translateX(-70%);
	}
	100% {
    transform: translateX(-30%);
	}
}

@keyframes blink {
  from, to {
    border-right-color: $base-background;
  }
  50% {
    border-right-color: $base-yellow;
  }
}
