$base-background: #323232;
$darker-background: #2a2a2a;
$lighter-background: #363636;
$base-white: #f5f5f5;
$darker-white: #868686;
$base-yellow: #f1bd00;


@keyframes fill {
  0% {
    transform: translateY(75%);
	}
  100% {
    transform: translateY(5%);
  }
}
@keyframes waves {
  25% {
    transform: translateX(-70%);
	}
	50% {
    transform: translateX(-30%);
	}
	75% {
    transform: translateX(-70%);
	}
	100% {
    transform: translateX(-30%);
	}
}

@keyframes blink {
  from, to {
    border-right-color: $base-background;
  }
  50% {
    border-right-color: $base-yellow;
  }
}
@keyframes glitch {
	from, to{
		transform: translateX(2px)
	}
	11%{
		transform: translateX(5px)
	}
	22%{
		transform: translateX(1px)			
	}
	33%{
		transform: translateX(3px)
	}
	44%{
		transform: translateX(3px)			
	}
	55%{
		transform: translateX(4px)
	}
	66%{
		transform: translateX(1px)			
	}
	77%{
		transform: translateX(3px)
	}
	88%{
		transform: translateX(3px)			
	}
}