.row {
	position: relative;
	margin: 0 auto;
	min-height: calc(100vh - 10rem);
  width: 100%;
}
.row-bg{
	background: $lighter-background;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/* Main element style */
#about-main {
  text-align: center;
  width: 100%;
  margin-right: 0;
	display: flex;
}

/* Main element title styles*/
#about-main .main-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
}

#about-main .main-title-wrapper {
  position: relative;
	margin-top: 4rem;
	margin-bottom: 2rem;
  font-family: "Archivo Black", sans-serif;
  font-size: 13vw;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.main-title-wrapper .line {
	display: flex;
	justify-content: center;
	margin-bottom: .5rem
}

.line .space-wrapper {
  width: 0.6em;
}
.line .apostrophe {
  color: $base-yellow;
  width: 2rem;
  span {
    margin-left: -1.5vw;
  }
}
.letter-wrapper {
  overflow: hidden;
  position: relative;
  span {
    opacity: 0;
  }

  .after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
  }
}

/*  Coppied Title serving as mask */

.main-title.copy {
  --maskX: 0%;
  --maskY: 0%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $base-yellow;
  clip-path: polygon(0 0, var(--maskX) 0, var(--maskY) 100%, 0% 100%);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  span {
    opacity: 0;
  }
}

/* More button */

.show-more {
  align-self: center;
  color: $darker-white;
  font-size: 1rem;
  padding: 1.2rem;
  border-radius: 0.4rem;
  background: $base-background;
  opacity: 0;
  cursor: pointer;
}
/* read-more section */

#read-more {
	width: 85%;
  font-size: .8rem;
  color: darken($base-white, 5%);
	font-weight: 300;
	perspective: 200px;
	margin-bottom: 4rem;
	margin-top: 1rem;

  .line-wrapper {
    opacity: 0;
    //margin-right: 0.2rem;
    position: relative;
    text-align: left;
    letter-spacing: 0.1rem;
		word-spacing: 0.2rem;
		line-height: 2.6rem;
		//margin-top: 1.2rem;
		//max-height: 3rem;
		overflow: hidden; 
  }
}
#my-name,
#mail-adress {
  color: $base-yellow;
  font-weight: 600;
}

/* aside right panel with photo inside */


	

  #about-right-panel {
    width: 100%;
		min-height: 100%;
    display: flex;
    justify-content: center;
  }
  .img-wrapper-outer {
		margin-top: 4rem;
    width: 70%;
    height: auto;
    perspective: 40px;
    transform-style: preserve-3d;
  }
  .img-wrapper {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
		border-radius: .5rem;
		opacity: 0;
  }
  .img-wrapper img {
		width: 100%;
		display: none;
		&.mobile{
			display: block;
		}
  }
  .img-wrapper:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    top: 0;
    left: 3px;
		background: url("../../images/about.jpg") center/cover;
    //animation: glitch-effect 1.2s steps(10, end) infinite alternate;
  }
  .glitch {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
		left: 0;
  }
  .glitch:before,
  .glitch:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: url("../../images/about.jpg") center/contain;
  }
  .glitch:after {
    left: 8px;
    clip-path: polygon(0 9%, 100% 16%, 100% 22%, 0 9%);
    animation: glitch-effect-2 2s infinite linear;
  }
  .glitch:before {
    left: 4px;
    animation: glitch-effect-2 3s infinite linear;
  }


/* responsive styles */

body#about {
	@media (min-width: 640px){
		.img-wrapper-outer {
			width: 50%;
		}
	}
	@media (min-width: 740px) and(orientation:landscape) {
		#read-more .line-wrapper {
			text-align: center;
		}
	}

	@media (min-width:800px){
		#read-more{
			width: 75%;
		}
	}

	@media 
	(min-width: 1024px) and( orientation:landscape),
	(min-width:1199px) {
		.row {
			width: 95%;
			display: flex;
      flex-direction: row;
		}
		.row-bg{
			width: 0;
		}
		#about-main{
			width: 70%;
			align-items: flex-start;

		}
		#about-main .main-content-wrapper {
			width: 90%;
			justify-content: flex-start;
			align-items: flex-end
		}
		#about-main .main-title-wrapper {
			font-size: 10vh;
		}
		.main-title.line{
			justify-content: initial;
		}
		.line:first-child {
			justify-content: flex-end;
		}

		.show-more{ margin-left: 8rem;}

		#read-more{
			width: 100%;
			font-size: .75rem;
		}

		#read-more .line-wrapper{ 
			text-align: right;
			padding-right: 0.2rem;

		}
		#about-right-panel {
			width: 30%;
			justify-content: flex-end;
		}
		.img-wrapper-outer{
			width: 90%;
		}
		.img-wrapper {
			border-radius: 2rem 0 2rem 0;
		}
		.img-wrapper img {
			display: block;
			&.mobile{
				display: none;
			}
		}
	}
	@media 
	(min-width: 1120px) and( orientation:landscape){
		#about-main{
			width: 65%;
		}
		#about-right-panel {
			width: 35%;
		}
	}

	
	@media (min-width: 1200px){
		
		#about-main .main-title-wrapper {
			font-size: 10vh;
		}
		#read-more{
			font-size: .8rem;
		}

	}
	@media (min-width: 1366px){
		#about-main .main-content-wrapper {
			width: 85%
		}
		#about-main .main-title-wrapper {
			font-size: 12vh;
		}
		.img-wrapper-outer{
			width: 80%;
		}
	}

	@media (min-width: 1501px){

		#about-main{
			width: 55%;
		}
	
		#about-main{
			font-size: 1rem;
		}
		#about-right-panel{
			width: 45%
		}
		.img-wrapper-outer{
			width: 60%;
		}
	}
}
