/* right panel with photo inside */

#about-right-panel{
	width: 30%;
	height: 100%;
	margin: auto 0 auto auto;
	background: $lighter-background;


	.img-wrapper{
		width: 180%;
		height: auto;		
		margin-left: -100%;
		margin-top: 30%;
		box-shadow: 0 0 15px rgba(0,0,0,0.4);
	}
	.img-wrapper img{
		width: 100%;
		display: block
		
	}

	@media (min-width:768px) and (orientation:landscape){
		margin-right: 5%;	
		height: 90%;
		.img-wrapper{
			width: 120%;
			margin-left: -20%;
		}
	}
	@media (min-width:1025px){
		height: 95%;
		width: 35%;
		.img-wrapper{
			width: 100%;
			margin-left: -15%
		}
	}	
	
}