#projects-content {
  min-height: calc(100vh - 10rem);
}
body#projects header,
body#projects footer {
	position: fixed;
	z-index: 2;
	}

#section-0{
	display: none;
}

/* responsive styles */

@media (min-width: 1024px) and( orientation:landscape), (min-width: 1025px) {
  #projects-content {
    section {
			height: 200vh;
			display: flex;
			justify-content: center;
			align-items: flex-start;


			&:nth-child(even){
				//background: $darker-background;
			}
		}
		#section-0{
			height: 100vh;
			perspective: 400px;
			overflow: hidden;
			align-items: center;
		}

		h1{
			transform-style: preserve-3d;
			font-size: 3em;
			font-family: 'Archivo', sans-serif;
			span{
				display: inline-block;
			}

		}
		.fas{
			color: $base-yellow;
		}

		.row{
			width: 100%;
			display: flex;
			justify-content: space-around
		}
		.project{
			width: 35%;
			height: 0;
  		padding-top: 30%;
			background: #111;
		}
		
  }
}
