#projects-content {
  min-height: calc(100vh - 10rem);
}
body#projects header,
body#projects footer {
	position: fixed;
	z-index: 2;
	}

#section-0{
	display: none;
}

/* responsive styles */

@media (min-width: 1024px) and( orientation:landscape), (min-width: 1025px) {
  #projects-content {
    section {
			height: 150vh;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			overflow: hidden;
			position: relative;


			&:nth-child(even){
				//background: $darker-background;
			}
		}
		#section-0{
			height: 100vh;
			perspective: 400px;
			align-items: center;
		}
		#section-4{
			height: 100vh;
		}

		h1{
			transform-style: preserve-3d;
			font-size: 3em;
			font-family: 'Archivo', sans-serif;
			span{
				display: inline-block;
			}

		}
		.fas{
			color: $base-yellow;
		}

		.row{
			width: 100%;
			display: flex;
			justify-content: center
		}
		.project{
			width: 35%;
			height: 0;
  		padding-top: 30%;
			background: #111;
			pointer-events: none;
			margin: 0 5vw 5vw 0;
		}
		.project.clickable{
			pointer-events: auto
		}
		
	}

}
