/* Skills.html styles */

/* Main Element */


#skills-content{
	position: relative;
	margin: 0 auto 3rem; //to change
	min-height: calc(100vh - 13rem);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center; //to change
	align-items: center 
}

/* Title */

h1#skills-title{
	margin: 2rem auto;
	font-family: 'Rubik Mono One';
	line-height: 100%;
	font-size: 1.7rem;
	color: $base-white;
	display: block;
	text-align: center;
}


/* swiper gallery for mobile */
.swiper-outer-wrapper{
	position: relative;
	width: 100vw;
}
#skills .swiper-container{
	width: 100vw;
	height: 100vw;
	overflow: hidden;
	z-index: 1;
}

 .swiper-slide{
	font-size: 2rem;
	font-family: 'Archivo', sans-serif;
	background: $darker-background;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
/* override swiper default button colors */
#skills-content .swiper-button-next,
#skills-content .swiper-container-rtl #skills-content .swiper-button-prev,
#skills-content .swiper-button-prev, 
#skills-content .swiper-container-rtl .swiper-button-next{
		z-index: 1;
    background-image: none;
}

#skills-content .swiper-button-next,
#skills-content .swiper-button-prev, 
#skills-content .swiper-container-rtl .swiper-button-prev,
#skills-content .swiper-container-rtl .swiper-button-next{
		fill: $darker-white;
		width: 7vw;
}

/* font-awesome icons */

#skills{
	.icon-wrapper{
		text-align: center;
		font-size: 1rem;
		color: $base-white;
	}
	.fab,
	.fas{
		color: $base-yellow;
		font-size: 4rem;
	}
	.icon-caption{
		text-transform: uppercase;
		margin-top: .2rem
	}
	
}

/* responsive styles */
@media (min-width:360px){
	h1#skills-title{
		font-size: 2.5rem
	}
}

@media (min-width:500px) and (orientation: landscape){
	#skills .swiper-container{
		width: 70vw;
		height: 70vw;
	}
	#skills-content .swiper-button-next,
	#skills-content .swiper-container-rtl .swiper-button-next{
		margin-right: 6vw;
		width: 5vw;
	}

	#skills-content .swiper-button-prev, 
	#skills-content .swiper-container-rtl .swiper-button-prev{
		margin-left: 6vw;
		width: 5vw;
	}
}
@media (min-width:700px) and (orientation: landscape){
	#skills .swiper-container{
		width: 60vw;
		height: 60vw;
	}
	#skills-content .swiper-button-next,
	#skills-content .swiper-container-rtl .swiper-button-next{
		margin-right: 12vw;
		width: 4vw;
	}

	#skills-content .swiper-button-prev, 
	#skills-content .swiper-container-rtl .swiper-button-prev{
		margin-left: 12vw;
		width: 4vw;
	}
}