/* Skills.html styles */

/* Main Element */


#skills-content{
	position: relative;
	margin: 0 auto 3rem; //to change
	min-height: calc(100vh - 13rem);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center; //to change
	align-items: center 
}

/* Title */

h1#skills-title{
	margin: 2rem auto;
	font-family: 'Rubik Mono One';
	line-height: 100%;
	text-transform: uppercase;	
	font-size: 1.7rem;
	opacity: .8;
	display: block;
	text-align: center;
	animation: fadeNeon 12s infinite;
}
/* hide 3d back-faces */

.back-face{
	display: none;
}
/* swiper gallery for mobile */

.swiper-outer-wrapper{
	position: relative;
	width: 100vw;
}
#skills .swiper-container{
	width: 100vw;
	height: 100vw;
	overflow: hidden;
	z-index: 1;
}


.swiper-slide{
	font-size: 2rem;
	font-family: 'Archivo', sans-serif;
	background: url(../../images/slide.jpg) center center/ cover no-repeat $darker-background;
	padding: 1rem;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	
}
/* override swiper default button colors */

#skills-content .swiper-button-next,
#skills-content .swiper-container-rtl #skills-content .swiper-button-prev,
#skills-content .swiper-button-prev, 
#skills-content .swiper-container-rtl .swiper-button-next{
		//display: none;
		z-index: 1;
		background-image: none;
		&:active, &:focus {
			outline: 0;
			border: none;
		}
}

#skills-content .swiper-button-next,
#skills-content .swiper-button-prev, 
#skills-content .swiper-container-rtl .swiper-button-prev,
#skills-content .swiper-container-rtl .swiper-button-next{
		fill: $darker-white;
		width: 7vw;
}

/* font-awesome icons */

#skills{
	.icon-wrapper{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		z-index: 0;
		font-size: 1rem;
		//opacity: .05;
		//filter: grayscale(90%);
		color: $base-white;
	
		.fab,
		.fas{
			color: $base-yellow;
			font-size: 4rem;
		}
	}
	.icon-caption{
		text-transform: uppercase;
		margin-top: .2rem
	}
	
}

/* Skills lists */

ul.techs,
ul.skill-level{
	display: none;
	color: $darker-white;
	text-transform: uppercase;
	font-family: 'Archivo',sans-serif;
	font-size: 1.2rem;
	li{
		margin-top: 1.9rem;
	}
	.far,
	.fas{
		color: $base-yellow;
	}
}
ul.skill-level li{
	overflow: hidden;
}
ul.skill-level{
	.star{
		width: 20%;
		height: 100%;;
	}
	#stars-background{
		width: 0;
		height: 100%;
		fill: $base-yellow;
		transition: 2s width;
	}
	li.active{
		#stars-background{
			width: 80%
		}
	}
}
/* placeholder for not learned yet skills */

ul.skill-level li.inProgress{
	display: flex;

	.loader{
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background: lighten($base-background, 10%);
	margin: .2em;
	opacity: 0.5;
	}
}
/* svg clip path support */

html.svgclippaths{
	svg.stars-clipped{
		height: 1em;
		width: auto;
	}
	
	ul.skill-level li.svg-fallback{
		display: none;
	}
	ul.skill-level li.svg-clipped{
		display: block;
	}
}
/* no svg clip path support */

html.no-svgclippaths{
	
	ul.skill-level li.svg-fallback{
		display: block;
	}
	ul.skill-level li.svg-clipped{
		display: none;
	}
}

/* responsive styles */

@media (min-width:360px){
	h1#skills-title{
		font-size: 2.5rem
	}
}

@media (min-width:500px) and (orientation: landscape){
	#skills .swiper-container{
		width: 70vw;
		height: 70vw;
	}
	#skills .swiper-container{
		border-radius: 1.2rem;
	}
	#skills-content .swiper-button-next,
	#skills-content .swiper-container-rtl .swiper-button-next{
		margin-right: 6vw;
		width: 5vw;
	}

	#skills-content .swiper-button-prev, 
	#skills-content .swiper-container-rtl .swiper-button-prev{
		margin-left: 6vw;
		width: 5vw;
	}
}
@media (min-width:700px) and (orientation: landscape){
	#skills .swiper-container{
		width: 60vw;
		height: 60vw;
	}
	#skills-content .swiper-button-next,
	#skills-content .swiper-container-rtl .swiper-button-next{
		margin-right: 12vw;
		width: 4vw;
	}

	#skills-content .swiper-button-prev, 
	#skills-content .swiper-container-rtl .swiper-button-prev{
		margin-left: 12vw;
		width: 4vw;
	}
}
@media (min-width:500px){
	h1#skills-title{
		margin: 2rem auto 2rem;
		font-size: 4rem;
	}
}

@media (min-width:768px){
	#skills .swiper-container{
		width: 60vw;
		height: 60vw;
	}
	#skills-content .swiper-button-prev, 
	#skills-content .swiper-container-rtl .swiper-button-prev{
		margin-left: 12vw;
		width: 4vw;
	}
	#skills-content .swiper-button-next,
	#skills-content .swiper-container-rtl .swiper-button-next{
		margin-right: 12vw;
		width: 4vw;
	}
}
@media (min-width:1024px) and (orientation:landscape),
(min-width:1025px){

	#skills .swiper-container{
		width: 50vw;
		height: 50vw;
	}
	#skills-content .swiper-button-prev, 
	#skills-content .swiper-container-rtl .swiper-button-prev{
		margin-left: 19vw;
		width: 3vw;
	}
	#skills-content .swiper-button-next,
	#skills-content .swiper-container-rtl .swiper-button-next{
		margin-right: 19vw;
		width: 3vw;
	}

	#skills{
		.icon-wrapper{
		text-align: center;
		font-size: 1.4rem;
		color: $base-white;
	
		.fab,
		.fas{
			color: $base-yellow;
			font-size: 6rem;
		}
	}
	ul.techs,
	ul.skill-level{
		font-size: 1.5rem;
	}	
}
}
@media (min-width:1200px){

	#skills .swiper-container{
		width: 45vw;
		height: 45vw;
	}
	#skills-content .swiper-button-prev, 
	#skills-content .swiper-container-rtl .swiper-button-prev{
		margin-left: 23vw;
		width: 2.5vw;
	}
	#skills-content .swiper-button-next,
	#skills-content .swiper-container-rtl .swiper-button-next{
		margin-right: 23vw;
		width: 2.5vw;
	}
}

@media (min-width:1366px){
	#skills .swiper-container{
		width: 40vw;
		height: 40vw;
	}
	#skills-content .swiper-button-prev, 
	#skills-content .swiper-container-rtl .swiper-button-prev{
		margin-left: 25vw;
		width: 2.5vw;
	}
	#skills-content .swiper-button-next,
	#skills-content .swiper-container-rtl .swiper-button-next{
		margin-right: 25vw;
		width: 2.5vw;
	}
}

@media (min-width:1500px){
	#skills .swiper-container{
		width: 32vw;
		height: 32vw;
	}
	#skills-content .swiper-button-prev, 
	#skills-content .swiper-container-rtl .swiper-button-prev{
		margin-left: 29.8vw;
		width: 2.2vw;
	}
	#skills-content .swiper-button-next,
	#skills-content .swiper-container-rtl .swiper-button-next{
		margin-right: 29.8vw;
		width: 2.2vw;
	}
}

/* !!!! 3d slider layout  !!!! */

#skills-content._3d{
		
	/* Hide buttons */
	
		.swiper-button-next,
		.swiper-button-prev{
			display: none;
		}
	/* 3d parent */

	.swiper-outer-wrapper{
		perspective: 100vw;
		}
	
	.swiper-container{
		overflow: initial;
		position: relative;
		transform: translateZ( calc(#{-$sm-3d} - 1vw) );
		transform-style: preserve-3d;
	}	
	
	/* 3d main rotating plain */
	
	.swiper-wrapper{
		position: absolute;
		top: 0;
		
		transform-style: preserve-3d;
		transform: rotateY(0deg);
	}
	/* 3d slides */

	.swiper-slide{
		border-radius: 1.2rem;
		position: absolute;
		top: 0;
		transform-origin: center center;
		backface-visibility: hidden;
	}

	/* 3d slides positioning */
	.front,
	.front-2{
		transform: translateZ($sm-3d) scale(.8);
	}
	.right,
	.right-2{
		transform: translateX($sm-3d) rotateY(90deg) scale(.8);
	}
	.back,
	.back-2{
		transform: translateZ(-$sm-3d) rotateY(180deg) scale(.8);
	}
	.left,
	.left-2{
		transform: translateX(-$sm-3d) rotateY(-90deg) scale(.8);
	}

	/* Hide additional faces */
	.front-2,
	.right-2,
	.back-2,
	.left-2{
		display: none;
	}
	/* Back-faces positioning */
	
	.back-face{
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: $darker-background;
		backface-visibility: hidden;
		border-radius: 1.2rem;
	}
	.back-face-front{
		transform: translateZ($sm-3d) rotateY(180deg) scale(.8);
	}
	.back-face-right{
		transform: translateX($sm-3d) rotateY(-90deg) scale(.8);
	}
	.back-face-back{
		transform: translateZ(-$sm-3d) rotateY(0deg) scale(.8);
	}
	.back-face-left{
		transform: translateX(-$sm-3d) rotateY(90deg) scale(.8);
	}


	/* responsive styles for 3d layout */

	@media (min-width:1200px){
		
		.swiper-container{
			transform: translateZ( calc(#{-$md-3d} - 1vw) );
		}

		.front,
		.front-2{
			transform: translateZ($md-3d) scale(.8);
		}
		.right,
		.right-2{
			transform: translateX($md-3d) rotateY(90deg) scale(.8);
		}
		.back,
		.back-2{
			transform: translateZ(-$md-3d) rotateY(180deg) scale(.8);
		}
		.left,
		.left-2{
			transform: translateX(-$md-3d) rotateY(-90deg) scale(.8);
		}

		.back-face-front{
			transform: translateZ($md-3d) rotateY(180deg) scale(.8);
		}
		.back-face-right{
			transform: translateX($md-3d) rotateY(-90deg) scale(.8);
		}
		.back-face-back{
			transform: translateZ(-$md-3d) rotateY(0deg) scale(.8);
		}
		.back-face-left{
			transform: translateX(-$md-3d) rotateY(90deg) scale(.8);
		}
	}

	@media (min-width:1366px){
		
		.swiper-container{
			transform: translateZ( calc(#{-$lg-3d} - 1vw) );
		}

		.front,
		.front-2{
			transform: translateZ($lg-3d) scale(.8);
		}
		.right,
		.right-2{
			transform: translateX($lg-3d) rotateY(90deg) scale(.8);
		}
		.back,
		.back-2{
			transform: translateZ(-$lg-3d) rotateY(180deg) scale(.8);
		}
		.left,
		.left-2{
			transform: translateX(-$lg-3d) rotateY(-90deg) scale(.8);
		}

		.back-face-front{
			transform: translateZ($lg-3d) rotateY(180deg) scale(.8);
		}
		.back-face-right{
			transform: translateX($lg-3d) rotateY(-90deg) scale(.8);
		}
		.back-face-back{
			transform: translateZ(-$lg-3d) rotateY(0deg) scale(.8);
		}
		.back-face-left{
			transform: translateX(-$lg-3d) rotateY(90deg) scale(.8);
		}
	}

	@media (min-width:1500px){
		
		.swiper-container{
			transform: translateZ( calc(#{-$xl-3d} - 1vw) );
		}

		.front,
		.front-2{
			transform: translateZ($xl-3d) scale(.8);
		}
		.right,
		.right-2{
			transform: translateX($xl-3d) rotateY(90deg) scale(.8);
		}
		.back,
		.back-2{
			transform: translateZ(-$xl-3d) rotateY(180deg) scale(.8);
		}
		.left,
		.left-2{
			transform: translateX(-$xl-3d) rotateY(-90deg) scale(.8);
		}

		.back-face-front{
			transform: translateZ($xl-3d) rotateY(180deg) scale(.8);
		}
		.back-face-right{
			transform: translateX($xl-3d) rotateY(-90deg) scale(.8);
		}
		.back-face-back{
			transform: translateZ(-$xl-3d) rotateY(0deg) scale(.8);
		}
		.back-face-left{
			transform: translateX(-$xl-3d) rotateY(90deg) scale(.8);
		}
	}
}

